.App {
  text-align: center;
}
body{
  margin-top: 120px;
}

.pictureWidth{
  width:300px;
}

.active{
  color: #ffb142 !important; 
  font-weight: bold;
}

.letter-space{
  letter-spacing: 3px;
}

.not-displayed{
  /* transform: translateY(100deg); */
  display: none;
}

.modal-color{
  background-color: #eaebfd;
}